body {	
	font-family: 'Press Start 2P', cursive;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1em;
}
.wrapper {
	border: 7px solid black;
}
.marquee {
	border-bottom: 7px solid black;
}
.marqueeCenter {
	padding: 0;
}
#marqueeImg {
	height: 100%;
	width: 100%;
}
.screenContainer {
	padding: 0; 
	background-color: black;
}
#screenBezel {
	width: 100%; 
	height: 100%;
}
.screenDisplay {
	position: absolute;
	top: 23.1%;
	left: 15.7%;
	background-color: black;
	height: 53.5%;
	width: 68.9%;
	background-image: url(../images/38.gif);
	background-size: 200% 100%;
	background-position: 100% 0;
}
#player1 {
	height: 43%;
	width: 18%;
	position: absolute;
	top: 49%;
	left: 14%;
}
#player2 {
	height: 40%;
	width: 33%;
	position: absolute;
	top: 52%;
	left: 57%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";"
}
.goldStats {
	position: absolute;
	width: 50%;
	top:1%;
	left:4%;
	color: #f17e3b;
	z-index:8;
	text-align: left;
	text-shadow: 3px 3px #22368E;
}
.goldStats .P1 {
	position: absolute;
	top: 1%;
	left: -4%;
}
.goldStats .wins1 {
	position: absolute;
	top: 1%;
	left: 21%;
}
.goldStats .winsCount {
	position: absolute;
	top: 1%;
	left: 52%;
}
.goldStats .P2 {
	position: absolute;
	top: 1%;
	left: 98%;
}
.goldStats .wins2 {
	position: absolute;
	top: 1%;
	left: 123%;
}
.goldStats .lossesCount {
	position: absolute;
	top: 1%;
	left: 155%;
}

.blueStats {
	position: absolute;
	top:1.4%;
	width: 50%;
	left:4.5%;
	color: #22368E;
	text-align: left;
}
.blueStats .P1 {
	position: absolute;
	top: 1%;
	left: -4%;
}
.blueStats .wins1 {
	position: absolute;
	top: 1%;
	left: 21%;
}
.blueStats .winsCount {
	position: absolute;
	top: 1%;
	left: 52%;
}
.blueStats .P2 {
	position: absolute;
	top: 1%;
	left: 98%;
}
.blueStats .wins2 {
	position: absolute;
	top: 1%;
	left: 123%;
}
.blueStats .lossesCount {
	position: absolute;
	top: 1%;
	left: 155%;
}
.healthBar {
	position: absolute;
	top: 11%;
	left: 10%;
	width: 80%;
	height: 6%;
	border: 4px solid white;
	background-color: red;
	border-radius: 11px;
}
.ko {
	font-size: 300%;
}
.ko .white {
	position: absolute;
	top: -80%;
	left: 40%;
	color: white;
	z-index: 2;
	font-size: 150%;
}
.ko .blue1 {
	position: absolute;
	top: -89%;
	left: 41%;
	color: darkblue;
	z-index: 1;
	font-size: 150%;
}
.ko .blue2 {
	position: absolute;
	top: -75%;
	left: 39%;
	color: darkblue;
	font-size: 150%;
}
#p1HealthContainer {
	position: absolute;
	top: 2%;
	left: 0%;
	height: 98%;
	width: 40%;
	background-color: yellow;
}
#p2HealthContainer {
	position: absolute;
	top: 2%;
	left: 60%;
	height: 98%;
	width: 40%;
	background-color: yellow;
}
.goldText {
	position: absolute;
	width: 50%;
	top:20%;
	left:24%;
	color: #f17e3b;
	z-index:8;
	background-color: rgba(0,0,0,.3);
	border: 1px solid rgba(255,255,255,.4);
	text-shadow: 3px 3px #22368E;
}
.blueText {
	position: absolute;
	top:18.4%;
	width: 50%;
	left:24.5%;
	color: #22368E;
}
#introScreen {
	width: 100%;
	height: 100%;
	z-index: 100;
}
.increaseLineHeight {
	line-height: 2;
}
#controlImage {
	width: 100%;
	height: 100%;
}
.controlBase {
	padding: 0;
	background-image: "../images/sf-controls.jpg"
}
#koImg {
	position: absolute;
	top: -186%;
	left: 26%;
	width: 48%;
	height: 500%;
}